*{
    margin: 0px;
    padding: 0px;
}



/*     Home Page     */

.menu{
    width: 100%;
    height: 65px;
    background-color: #646C77;
    position: fixed;
    top: 0;
    z-index: 99;
}

.leftmenu{
    width: 20%;
    line-height: 65px;
    float: left;
}

.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'Fredoka+One', sans-serif;

}

.rightmenu{
    cursor: pointer;
    width: 60%;
    height: 30px;
    float: right;
}

.rightmenu ul{
    margin-left: 100px;
}

.rightmenu ul li{
    font-family: 'Fredoka+One', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 65px;
    margin-left: 40px;
    text-transform: uppercase;
}

.rightmenu ul li:hover{
    color: #CEF0FF;
}

.head{
    background-image: url('bg/bg1.jpg');
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
}

.content{
    padding: 15em 0em 0em 10em;
}

.content img{
    width: 150px;
    height: auto;
    margin-right: 3em;
    float: left;
}

.content h4{
    font-size: 14px;
    font-family: 'Fredoka+One', sans-serif;
    color: #424953;
    opacity: 0.7;
}

.content h1{
    font-size: 60px;
    font-family: 'Fredoka+One', sans-serif;
    color: #424953;
    font-weight: bold;
}

.content button{  /*   text button   */
    color: white;
}

#buttonone{
    background-color: #F34452;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka+One', sans-serif;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 25px;
    border: 0px solid;
    cursor: pointer;
}

.content button{
    color: white;
}

.content a button{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.content a:hover > button{
    filter: none;
}




/*     Introduction     */

.introduction{
    text-align: center;
    height: 100%;
}

.main_introduction{
    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.introduction p{
    font-family: 'Prompt', sans-serif;
    width: 730px;
    margin: auto;
    text-align: center;
    color: #646C77;
}

.introduction button{
    color: white;
    margin: auto;
    margin-bottom: 180px;
}

#buttontwo{
    background-color: #F34452;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka+One', sans-serif;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 25px;
    border: 0px solid;
    cursor: pointer;
}

.introduction a button{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.introduction a:hover > button{
    filter: none;
}




/*     about project     */

.bgabout{
    background-image: url(bg/bg2.png);
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
}

.about{
    padding: 8.5em 0em 0em 0em;
}

.about h1{
    color: white;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
    text-align: center;
}

.about{
    text-align: center;
    height: 100%;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.border2{
    display: block;
    margin: auto;
    width: 100px;
    height: 3px;
    background: #adcff4;
}

.about p{
    font-family: 'Prompt', sans-serif;
    width: 735px;
    margin: auto;
    text-align: center;
    color: white;
    opacity: 0.8;
}




/*     Graph Zone     */

.graph{
    background-color: #8bb8e9;
    padding-top: 5rem;
    text-align: center;
    height: 1000px;
}

.main_graph h1{
    color: white;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
}

.border2{
    display: block;
    margin: auto;
    width: 100px;
    height: 3px;
    background: #adcff4;
    margin-bottom: 30px;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */



.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.pre{
    left: 120px;
}
/* Position the "next button" to the right */
.next {
    right: 120px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}





/*     OUR TEAM     */

.member{
    background-color: #E5E8EC;
    margin: 10px 0 0;
    padding-top: 5rem;
    text-align: center;
}

.main_member h1{
    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.border{
    display: block;
    margin: auto;
    width: 100px;
    height: 3px;
    background: #A9B1BC;
}

.ps{
    margin-bottom: 40px;
    margin-top: 70px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.name{

    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin: auto;
    height: 0;
    overflow: hidden;
}

.name:target{
    height: auto;
}

.name span{
    display: block;
    font-weight: bold;
}

.name p{
    display: block;
    font-weight: bold;
    opacity: 0.7;
    font-size: 80%;
    margin-bottom: 5px;
}

.name .icon{
    margin-top: 10px;
    margin-bottom: 100px
}




/*     back to top button     */

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    font-size: 25px;
    text-align: center;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

    #button:active {
    background-color: #555;
}

    #button.show {
    opacity: 1;
    visibility: visible;
}
