*{
    margin: 0px;
    padding: 0px;
}



/*     back to top button     */

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

    #button:active {
    background-color: #555;
}

    #button.show {
    opacity: 1;
    visibility: visible;
}



/*     Home Page     */

#bgtext{
    background-image: url("bg/bg1.jpg");
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
}

.menu{
    width: 100%;
    height: 65px;
    background-color: #646C77;
    position: fixed;
    top: 0;
    z-index: 99;
}

.leftmenu{
    width: 20%;
    line-height: 65px;
    float: left;
}

.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'Fredoka+One', sans-serif;

}

.rightmenu{
    cursor: pointer;
    width: 60%;
    height: 30px;
    float: right;
}

.rightmenu ul{
    margin-left: 100px;
}

.rightmenu ul li{
    font-family: 'Fredoka+One', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 65px;
    margin-left: 40px;
    text-transform: uppercase;
}

.rightmenu ul li:hover{
    color: #CEF0FF;
}

.text{
    margin-top: 0px;
}

.text img{
    width: 10%;
    width: 10%;
    float: left;
    padding-left: 150px;
    margin-top: 250px;
}


.text h4{
    font-size: 14px;
    font-family: 'Fredoka+One', sans-serif;
    color: #424953;
    opacity: 0.7;
    margin-left: 350px;
    margin-top: 250px;
}

.text h1{
    font-size: 60px;
    font-family: 'Fredoka+One', sans-serif;
    color: #424953;
    font-weight: bold;
    margin: 2px 0px;
    margin-left: 350px;
    margin-top: 100px;

}

.text button{
    color: white;
    margin-left: 70px;
}

#buttonone{
    background-color: #F34452;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka+One', sans-serif;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 25px;
    border: 0px solid;
    cursor: pointer;
}

.text a button{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.text a:hover > button{
    filter: none;
}



/*     Introduction     */

.introduction{
    text-align: center;
    height: 100%;
}

.main_introduction{
    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.introduction p{
    font-family: 'Prompt', sans-serif;
    width: 730px;
    margin: auto;
    text-align: center;
    color: #646C77;
}

.introduction button{
    color: white;
    margin: auto;
    margin-bottom: 180px;
}

#buttontwo{
    background-color: #F34452;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka+One', sans-serif;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 25px;
    border: 0px solid;
    cursor: pointer;
}

.introduction a button{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.introduction a:hover > button{
    filter: none;
}




/*     Introduction     */

.bgabout{
    background-image: url(bg/bg2.png);
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
}

.main_about{
    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
}

.about{
    text-align: center;
    height: 100%;
}
















/*     OUR TEAM     */

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.member{
    background-color: #E5E8EC;
    margin: 10px 0 0;
    padding-top: 5rem;
    text-align: center;
}

.main_member h1{
    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin-bottom: 5px;
}

.border{
    display: block;
    margin: auto;
    width: 100px;
    height: 3px;
    background: #A9B1BC;
}

.ps{
    margin-bottom: 40px;
    margin-top: 70px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.name{

    color: #424953;
    font-family: 'Fredoka+One', sans-serif;
    margin: auto;
    height: 0;
    overflow: hidden;
}

.name:target{
    height: auto;
}

.name span{
    display: block;
    font-weight: bold;
}

.name p{
    display: block;
    font-weight: bold;
    opacity: 0.7;
    font-size: 80%;
    margin-bottom: 5px;
}

.name .icon{
    margin-top: 10px;
    margin-bottom: 100px
}